<%= form_with model: @lecture , url: lectures_new_path ,local: true do |f| %>
    <div class="lecture_form">
    <h3>日本酒投稿フォーム</h3>
    <%= f.text_field :name , placeholder: '日本酒名', class:'name_field'%>
    <%= f.text_field :username , placeholder: '投稿者名', class:'name_field'%>
  
    <h5>味のうまさ</h5>
     <div class="post_form">
      <%= f.radio_button :overall, 5 ,id: 'star1'%>
      <label for="star1"><span class="text">最高</span>★</label>
  
      <%= f.radio_button :overall, 4 ,id: 'star2'%>
      <label for="star2"><span class="text">良い</span>★</label>
  
      <%= f.radio_button :overall, 3 ,id: 'star3'%>
      <label for="star3"><span class="text">普通</span>★</label>
  
      <%= f.radio_button :overall, 2 ,id: 'star4'%>
      <label for="star4"><span class="text">悪い</span>★</label>
  
      <%= f.radio_button :overall, 1 ,id: 'star5'%>
      <label for="star5"><span class="text">最悪</span>★</label>
   </div>
  
  <h5>値段に対する満足度</h5>
    <div class="post_form">
      <%= f.radio_button :level,  5 ,id: 'star6'%>
      <label for="star6"><span class="text">とても良い</span>★</label>
  
      <%= f.radio_button :level,  4 ,id: 'star7'%>
      <label for="star7"><span class="text">そこそこ良い</span>★</label>
  
      <%= f.radio_button :level, 3 ,id: 'star8'%>
      <label for="star8"><span class="text">普通</span>★</label>
  
      <%= f.radio_button :level , 2 ,id: 'star9'%>
      <label for="star9"><span class="text">やや悪い</span>★</label>
  
      <%= f.radio_button :level , 1 ,id: 'star10'%>
      <label for="star10"><span class="text">悪い</span>★</label>
   </div>
  
  
    </div>
    <%= f.submit '送信'%>
  <% end %>


  <%= link_to 'トップページに戻る', nihons_path %>